body {
	color: darkred;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
/*	background: linear-gradient(to bottom ,darkkhaki,darkkhaki,pink,#fff);
background-color:darkkhaki;*/	

}
nav{

}

.minbut{
	margin-top: -50px;
	text-align:center;
}
.minbut a{
	color: mediumvioletred;
	font-style: normal;
	list-style: none;
}
table{
	display: inline;
	width: 90%;
	height: 10px;

}
table button
{

margin: 1px;
position: relative;border-style: none;
padding: 20px;
text-decoration:none ;
background: fixed;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 4px;
overflow: hidden;
color: darkblue;
font-family: sans-serif;
background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);


}
table button:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color:  rgba(255, 255, 255, 0.1);

}
table button:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 90%;
	height: 90%;
	background-color: 	background-color: radial-gradient(90deg,transparent,rgba(255,255,255,0.4),transparent);
	transition: 0.5;
	transition-delay: 0.5;

}
hr{
	margin: 0;
	padding: 0;
	width: 0%;
}
h3{
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.lite_button{
	display: inline;


}

.lite_button input[type="checkbox"]{
	margin-left: 90%;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	background:#c6c6c6 ;
	outline:none;
	border-radius: 20px;
	box-shadow:inset 0 0 5px rgb(0, 0, .2);
	/*transform: .05;*/
}
.lite_button input:checked[type="checkbox"]{
	background: darkkhaki;
}
.lite_button input[type="checkbox"]:before
{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0;
	left:0 ;
	background: #fff;
	transform: :scale(1.1);
	box-shadow: 0 2px 5px rgb(0, 0, 2);
	transform: 0.05;

}
.lite_button input:checked[type="checkbox"]:before
{
	left: 40px;
	transform: 0.01s;
	
}

.pragraf{
	width: 100%;
	position: relative;
}
.pclass{
	position: absolute;
	display: inline-block;
	width: 45%;
	height: 130px;
	background: rgba(255, 255, 255, 0.1);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.edu{
	margin-left:50% ;
	position: relative;
	display: inline-block;
	width: 44%;
	height: 300px;
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.pclass2{

}
.skills{
	width: 49%;
	position: relative;
	margin-top: -300px;
	background: rgba(255, 255, 255, 0.1);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


/*.img {
	width: 200px;
	height: 200px;
	display: inline-flex;
	position: absolute;
}*/

.pragraf ul li  {
	display: inline-flex;
	width: 150px;
	height: 20px;
	font-size: 20px;
	font-family:sans-serif ;
	padding: 0;
	margin: 0;

}

input[ type="range"]{	
	display:inline-flex ;
	position: relative;
	width: 300px;
	height: 20px;
	-webkit-appearance: none;
	background-color:mediumvioletred;
	outline: none;
	border-radius: 20px;
	box-shadow:inset 0 0 5px rgb(0, 0, .2);
	
}
.inputrlang{
	display: inline-block;
	width: 50%;
}
.accwinicon section{
	position: absolute;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.accwinicon section ul li a{
	position: relative;
	width: 30px;
	height: 30px;
}
.accwinicon section ul li a img{
	position: relative;
	width: 30px;
	height: 30px;
}
.coler{
	position: relative;
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	

}
.coler:nth-child(1){
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;
}
.coler:nth-child(2){
	background: #fffd87;
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;
}.coler:nth-child(3){
	
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;
}
.coler:nth-child(4){
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;
}
.coler:nth-child(5){
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;
}
.coler:nth-child(6){
	background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 30px;}
	.Twitter img{
		width: 20px;
		height: 30px;
	}
.Twitter button{

  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.Twitter button span {
  margin: 10px;
}

.Twitter button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.Twitter button:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

.Twitter button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
.patman button {

 border: none;
 position: relative;
 width: 200px;
 height: 73px;
 padding: 0;
 -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
 mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
 -webkit-mask-size: 100%;
 cursor: pointer;
 background-color: transparent;
 transform: translateY(8px)
}

.patman button:after {
 content: '';
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 box-shadow: 0px 0 0 0 white;
 transition: all 2s ease;
}

.patman  button:hover:after {
 box-shadow: 0px -13px 56px 12px #ffffffa6;
}

.patman  button span {
font-family: sans-serif;
 position: absolute;
 width: 100%;
 font-size: 15px;
 font-weight: 100;
 left: 50%;
 top: 39%;
 letter-spacing: 3px;
 text-align: center;
 transform: translate(-50%,-50%);
 color: black;
 transition: all 2s ease;
}

.patman  button:hover span {
 color: white;
}

.patman  button:before {
 content: '';
 position: absolute;
 width: 0;
 height: 100%;
 background-color: black;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 transition: all 1s ease;
}

.patman button:hover:before {
 width: 100%;
}


